#product-list {
  .app-bar {
    display: flex;
    align-items: center;
    padding:20px;
    position: relative;
  }

  .app-bar::after {
    content:'';
    height: 2px;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    width: 100%;
    bottom: 0;
    background-color: #78909C;
  }

  h1 {
    display: inline-block;
  }

  #delete-product-btn {
    margin-left: 20px;
  }

  .product-container-main {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }
}

@media screen and (max-width: 960px) {
  #product-list {
    .app-bar,.product-container-main {
      width: 900px;
    }
  }
}
@media screen and (max-width: 900px) {
  #product-list {
    .app-bar,.product-container-main {
      width: 600px;
    }
  }
}
@media screen and (max-width: 600px) {
  #product-list {
    .app-bar,{
      width: 100%;
    }
    .product-container-main {
      width: 300px;
    }
    h1 {
      font-size: 1.5rem;
    }

    .app-bar::after {
      display: none;
    }
  }
}

@media screen and (max-width: 450px) {
  #product-list {
    .app-bar {
      flex-wrap: wrap;
    }
    .spacer {
      display: none;
    }
    h1 {
      font-size: 1.5rem;
      flex-basis: 100%;
    }
  }
}

@media screen and (max-width: 300px) {
  #product-list {
    .product-container-main {
      width: 100%;
    }
  }
}

