#add-product {
  .v-row {
    margin:0;
  }

  .v-list-subheader {
    margin-left: 20px;
    flex-basis: 10%;
    min-width: 100px;
  }

  .v-text-field:not(.select-field) {
    flex-basis: 30%;
    max-width: 400px;
  }

  .select-field, {
    margin-left: 20px;
    margin-top: 20px;
    max-width: calc(400px + 10%);
  }

  //SELECT FIELD FOR TEST
  .ugly_select_for_test,.ugly_select_for_test_label {
    margin-left: 20px;
    margin-top: 20px;
    max-width: calc(400px + 10%);
    color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity)) !important;
  }
  .ugly_select_for_test_container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  .ugly_select_for_test {
    padding: 0 20px 20px 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    width: 100%;
    option {
      color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity)) !important;
    }
  }

  .ugly_select_for_test:focus {
    outline: none;
  }
  .ugly_select_for_test_label {
    color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
    font-size: 0.875rem;
  }

  @media screen and (max-width: 600px) {
    .ugly_select_for_test_label,.ugly_select_for_test {
      max-width: calc(100% - 40px);
    }
  }

//------------------------------------------------

  .v-card {
    display: flex;
    flex-direction: column;
    width: calc(440px + 10%);
    padding-bottom: 40px;
    margin-top: 20px;
  }

  .v-card-title {
    padding:20px;
    color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity)) !important;
  }

  .attribute-field {
    margin: 0 20px 0 auto;
  }

  .description {
    font-size: 0.9rem;
    margin-left: 20px;
    margin-top: 20px;
    color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
  }

  #error-message {
    position: absolute;
    bottom: 0;
    left:0;
    font-family: sans-serif;
    margin-right: 20px;
    transform: translateY(calc(100% + 20px));
    -webkit-transform: translateY(calc(100% + 20px));
    -moz-transform: translateY(calc(100% + 20px));
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    color: rgb(var(--v-theme-error));
    flex:unset;
  }
}

@media screen and (max-width: 900px) {
  #add-product {
    .v-text-field:not(.select-field) {
      max-width: 360px;
    }
  }
}


@media screen and (max-width: 600px) {
 #add-product {
   .v-text-field:not(.select-field) {
     max-width: unset;
     margin-right: 20px;
   }

   .select-field {
     margin-right: 20px;
     max-width: unset;
   }

   .v-card {
     margin: 20px 10px 10px 10px;
     width: unset;
   }
 }
}